/* 전체 페이지 스타일 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    position: relative;
}

/* 아이디 찾기 컨테이너 */
.container {
    width: 300px; /* 컨테이너 크기 */
    margin: 0 auto; /* 가운데 정렬 */
    align-items: center;
    text-align: center; /* 내부 요소 텍스트 가운데 정렬 */
}

/* 아이디 찾기 제목 스타일 */
.container h2 {
    font-size: 24px; /* 글씨 크기 */
    font-weight: bold; /* 글씨 굵기 */
    margin-bottom: 20px; /* 아래 여백 */
    color: #000; /* 글씨 색 */
    text-align: center;
}


/* 왼쪽 상단 로고 */
.logo  img{
    position: absolute;
    width: 70px;
    height: 65px;
    left: 24px;
    top: 18px;
    cursor: pointer;
}

/* 입력 필드 스타일 */
.input-group {
    position: relative;
    width:100%;
    margin: 15px;
    display: flex;
    justify-content: center;
}

.input-group input {
    width: 100%;
    padding: 12px;
    padding-right: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

/* 다음음 버튼 컨테이너 */
.button-container {
    position: flex;
    justify-content: center; 
    margin-top: 10px; 
}

/* 다음음 버튼 스타일 */
.next-btn {
    width: 100%;
    background: #BAC5F6; /* 버튼 배경색 */
    color: #FFFFFF; /* 글씨 색 */
    padding: 10px;
    border: none;
    border-radius: 10px; /* 모서리를 둥글게 */
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

/* 마우스를 올렸을 때 버튼 색상 변경 */
.login-btn:hover {
    background: #A2B5E6;
}