{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="{% static 'css/reset_pw.css' %}">
</head>
<body>
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'imgs/logo.png' %}" alt="로고">
        </a>
    </div>

    {% block content %}
    <div class="container">
        <h2>비밀번호 재설정</h2>
        <a href="{% url 'login' %}">
            <button class="close-btn">✖</button>
        </a>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    {{form.password}}
                    <img src="{% static 'imgs/noeye.png' %}" alt="비밀번호 표시"
                        class="toggle-password" 
                        onmousedown="showPassword(this)" 
                        onmouseup="hidePassword(this)"
                        onmouseleave="hidePassword(this)">
        
                </div>
                <div class="input-group">
                    {{form.confirm_password}}
                    <img src="{% static 'imgs/noeye.png' %}" alt="비밀번호 확인 표시"
                        class="toggle-password" 
                        onmousedown="showPassword(this)" 
                        onmouseup="hidePassword(this)"
                        onmouseleave="hidePassword(this)">
                </div>

                <div class="button-container">
                    <button class="change-btn">변경하기</button>
                </div>
            </form>
    </div>
    {% endblock %}

    <script>
        function showPassword(toggleButton) {
            var passwordInput = toggleButton.previousElementSibling; // 비밀번호 입력 필드 찾기
            passwordInput.type = "text"; // 비밀번호 보이기
            toggleButton.src = "{% static 'imgs/eye.png' %}"; // 아이콘 변경
        }

        function hidePassword(toggleButton) {
            var passwordInput = toggleButton.previousElementSibling; // 비밀번호 입력 필드 찾기
            passwordInput.type = "password"; // 비밀번호 숨기기
            toggleButton.src = "{% static 'imgs/noeye.png' %}"; // 아이콘 원래대로
        }
    </script>
</body>
</html>
